body {
    font-family: Arial, sans-serif;
    background-image: url("back.jpg");
    margin-left: 30%;
    padding: 0;
    color: white; /* Teks menjadi warna putih */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #fff;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .label-input,
  .checkbox-group,
  .radio-group {
    grid-column: span 2;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkbox-group,
  .radio-group {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group label,
  .radio-group label {
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #output {
    margin-top: 10px;
  }
  
  #display {
    width: calc(20% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  .calc-buttons input[type="button"] {
    padding: auto;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calc-buttons input[type="button"]:hover {
    background-color: #005f7f;
  }
  
  #result,
  #hasil {
    width: calc(20% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  